@font-face {
  font-family: "Gotham Medium";
  src: url("Gotham Medium.otf");
}

.page {
  position: relative;
}

.bas-section {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

svg {
  position: absolute;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
}

#footer-tesla {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#footer-tesla ul {
  text-align: center;
}

#footer-tesla li {
  display: inline-block;
  margin: 0 10px;
}

#footer-tesla a {
  font-size: 10px;
  color: #393c41;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

#grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  padding: 10px;
  margin: 0 5%;
}

.grid-item {
  position: relative;
  max-width: 320px;
  height: 530px;
  margin: 0 30px;
}

.grid-item img {
  width: 100%;
}

.inner {
  padding: 30px;
  font-size: 0.9em;
}

.inner p {
  margin-bottom: 30px;
  font-size: 12px;
  color: #171a20;
  text-align: justify;
}

.inner h2 {
  padding-top: 0;
  margin: 0 0 10px;
  color: #171a20;
  text-transform: uppercase;
}

.grid-item a {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  background-color: #171a20;
  border: none;
  border-radius: 50px;
  opacity: 0.75;
  transform: translate(-50%, 0);
}

* {
  font-family: "Gotham Medium", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body,
div,
section,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

section.page {
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#model3 {
  background-image: url("images/model3.jpg");
}

#modelS {
  background-image: url("images/modelS.jpg");
}

#powerwall {
  background-image: url("images/solarPanels.jpg");
}

h1 {
  padding-top: 100px;
  font-size: 40px;
  font-weight: 100;
}

h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: gray;
}

a {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-config,
.btn-vehicules {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 50px;
  opacity: 0.75;
}

.btn-config {
  color: white;
  background-color: #171a20;
}

.btn-vehicules {
  color: #171a20;
  background-color: white;
}

#model3-img {
  width: 100px;
}

#model3 p {
  margin-top: 20px;
}

#model3 .bas-section {
  bottom: 0;
}

#reserver {
  font-size: 14px;
  color: #393c41;
  text-decoration: underline;
}

#reserver:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: #393c41;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  min-width: 150px;
}

.navbar a {
  font-size: 14px;
  color: #393c41;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header img {
  position: absolute;
}
